<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_edit.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <title>Foodie Faves</title>
</head>
<body>

<!-- Navigation Bar -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8E9189;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Foodie Faves</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="/user/logout">Logout</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="button" id="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="overlay">
    <div class="container my-3">
        <h1>Add a New Fave Bar or Restaurant</h1>
        <div class="show_form">
            {% with messages = get_flashed_messages(category_filter=['create_restaurant']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/restaurant/create", method="post", id="form">
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="mb-3">
                            <label class ="form-label" for="name">Name:</label>
                            <input class ="form-control" type="text" name="name">
                        </div>
                        <div class="mb-3">
                            <label class ="form-label" for="street_address">Street Address</label>
                            <input class ="form-control" type="text" name="street_address">
                        </div>
                        <div class="mb-3">
                            <label class ="form-label" for="neighborhood">Neighborhood:</label>
                            <input class ="form-control" type="text" name="neighborhood">
                        </div>
                        <div class="mb-3">
                            <label class ="form-label" for="review">Review:</label>
                            <textarea class ="form-control" name="review" cols="50" rows="5"></textarea>
                        </div>
                        <div class="mb-3">
                            <p>Do they serve food?</p>
                            <label for="yes">Yes</label>
                            <input type="radio" name="has_food" value="yes" id="yes">
                            <label for="no">No</label>
                            <input type="radio" name="has_food" value="no" id="no">
                        </div>
                        <a href="/dashboard">
                            <input class ="button" id="button" type="submit" value="Add To Faves">
                        </a>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>
</body>
</html>