body {
    background-color: #eeefeb;
    color: #494449;
    font-family: 'Abel', sans-serif;
}

#button {
    border: none;
    height: 2.5em;
    border-radius: 5px;
    background-color: #8E9189;
    color: #EEEFEB;
}