body {
    font-family: 'Abel', sans-serif;
}

#login {
    background-color: #494449;
    color: #EEEFEB;
}

#loginbutton {
    background-color: #EEEFEB;
    border:1px solid #494449;
    border-radius: 10px;
}

#registerLink {
    color: #DDEAC1;
}