body{
    color: #494449;
    font-family: 'Abel', sans-serif;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-food-elements_1411-48.jpg?t=st=1657908903~exp=1657909503~hmac=387656b95642f79e1b7a5e55e39149a54709616e5e5deb3ff535ce1a0bf761cf&w=900'); 
    height: 100vh;
    overflow: hidden;
}

.overlay {
    background-color: rgba(238,239,235,.85);
    overflow: hidden;
    height: 100%;
}

h4, h2 {
    font-weight: 600;
}

.card {
    background-color: #8E9189;
    color: #EEEFEB;
    border: 1px solid #494449;
}